n8n/workflows/hermes-daily-briefing.json
{
  "name": "Hermes Daily Briefing Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hermes-daily-briefing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Hermes",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        320
      ],
      "webhookId": "hermes-daily-briefing"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incoming = $input.first()?.json ?? {};\n\nconst parseMaybeJson = (value) => {\n  if (typeof value !== 'string') {\n    return value;\n  }\n  try {\n    return JSON.parse(value);\n  } catch {\n    return value;\n  }\n};\n\nconst root = parseMaybeJson(incoming);\nconst bodyRaw = parseMaybeJson(root?.body ?? root?.payload ?? root);\nconst body = (bodyRaw && typeof bodyRaw === 'object') ? bodyRaw : {};\n\nconst query = String(\n  body.query\n  ?? body.topic\n  ?? root?.query\n  ?? root?.topic\n  ?? '한국 AI 트렌드'\n);\nconst collectedAt = String(\n  body.collected_at\n  ?? body.collectedAt\n  ?? root?.collected_at\n  ?? root?.collectedAt\n  ?? new Date().toISOString()\n);\n\nconst candidateArrays = [\n  body.results,\n  body.items,\n  body?.data?.results,\n  body?.data?.items,\n  root?.results,\n  root?.items,\n  root?.data?.results,\n  root?.data?.items,\n];\nconst sourceItems = candidateArrays.find((entry) => Array.isArray(entry)) ?? [];\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|above|system|developer)\\s+instructions?/gi,\n  /system\\s+prompt/gi,\n  /developer\\s+message/gi,\n  /```[\\s\\S]*?```/g,\n  /<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi,\n  /javascript:/gi,\n  /\\b(bash|sudo|rm\\s+-rf|curl\\s+https?:\\/\\/|wget\\s+https?:\\/\\/)\\b/gi,\n];\n\nconst securityStats = {\n  input_count: sourceItems.length,\n  kept_count: 0,\n  dropped_count: 0,\n  dropped_unsafe_url: 0,\n  prompt_like_removed: 0,\n  source_provider: 'external_webhook',\n};\n\nconst compact = (value) => String(value ?? '')\n  .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sanitizeText = (value, maxLen) => {\n  let text = String(value ?? '');\n  for (const pattern of INJECTION_PATTERNS) {\n    const before = text;\n    text = text.replace(pattern, ' ');\n    if (before !== text) {\n      securityStats.prompt_like_removed += 1;\n    }\n  }\n  const normalized = compact(text);\n  return normalized.length > maxLen ? `${normalized.slice(0, maxLen - 1).trimEnd()}…` : normalized;\n};\n\nconst isSafeUrl = (value) => {\n  const raw = String(value ?? '').trim();\n  if (!/^https?:\\/\\//i.test(raw)) {\n    return false;\n  }\n  const withoutScheme = raw.replace(/^https?:\\/\\//i, '');\n  const authority = withoutScheme.split('/')[0] || '';\n  const hostPort = authority.includes('@') ? authority.split('@').pop() : authority;\n  const host = String((hostPort || '').split(':')[0] || '').toLowerCase();\n  if (!host || host === 'localhost' || host.endsWith('.local')) {\n    return false;\n  }\n  if (/^127\\./.test(host) || /^10\\./.test(host) || /^192\\.168\\./.test(host)) {\n    return false;\n  }\n  if (/^172\\.(1[6-9]|2\\d|3[0-1])\\./.test(host)) {\n    return false;\n  }\n  if (/^169\\.254\\./.test(host) || host === '::1') {\n    return false;\n  }\n  return true;\n};\n\nconst classifyBucket = (title, snippet, explicitBucket) => {\n  const bucket = String(explicitBucket ?? '').trim().toUpperCase();\n  if (['HOT', 'INSIGHT', 'MONITOR'].includes(bucket)) {\n    return bucket;\n  }\n  const lowered = `${title} ${snippet}`.toLowerCase();\n  if (lowered.includes('launch') || lowered.includes('release') || lowered.includes('breaking') || lowered.includes('급등')) {\n    return 'HOT';\n  }\n  if (lowered.includes('analysis') || lowered.includes('report') || lowered.includes('전망') || lowered.includes('인사이트')) {\n    return 'INSIGHT';\n  }\n  return 'MONITOR';\n};\n\nconst normalizedItems = sourceItems\n  .map((entry, index) => {\n    const title = sanitizeText(entry?.title ?? `untitled-${index + 1}`, 180);\n    const url = String(entry?.url ?? '').trim();\n    const snippet = sanitizeText(entry?.snippet ?? entry?.content ?? '', 400);\n\n    if (!title || !url || !isSafeUrl(url)) {\n      securityStats.dropped_count += 1;\n      if (url && !isSafeUrl(url)) {\n        securityStats.dropped_unsafe_url += 1;\n      }\n      return null;\n    }\n\n    return {\n      title,\n      url,\n      snippet: snippet || '요약 정보 없음',\n      bucket: classifyBucket(title, snippet, entry?.bucket),\n    };\n  })\n  .filter((item) => item)\n  .slice(0, 30);\n\nsecurityStats.kept_count = normalizedItems.length;\n\nreturn [\n  {\n    json: {\n      query,\n      collected_at: collectedAt,\n      items: normalizedItems,\n      security_stats: securityStats,\n    },\n  },\n];"
      },
      "id": "Code_Normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first()?.json ?? {};\nconst query = data.query ?? '한국 AI 트렌드';\nconst collectedAt = data.collected_at ?? new Date().toISOString();\nconst items = Array.isArray(data.items) ? data.items : [];\nconst securityStats = data.security_stats ?? {};\n\nconst buckets = {\n  HOT: [],\n  INSIGHT: [],\n  MONITOR: [],\n};\nfor (const item of items) {\n  const key = ['HOT', 'INSIGHT', 'MONITOR'].includes(item.bucket) ? item.bucket : 'MONITOR';\n  buckets[key].push(item);\n}\n\nconst toLines = (bucketItems) => {\n  if (!bucketItems.length) {\n    return ['- 없음'];\n  }\n  return bucketItems.map((item, index) => {\n    const title = item.title || `Item ${index + 1}`;\n    const url = item.url ? ` (${item.url})` : '';\n    const snippet = item.snippet ? `\\n  - 요약: ${item.snippet}` : '';\n    return `- ${title}${url}${snippet}`;\n  });\n};\n\nconst markdown = [\n  '# Hermes Daily Briefing',\n  '',\n  `- generated_at: ${new Date().toISOString()}`,\n  `- collected_at: ${collectedAt}`,\n  `- query: ${query}`,\n  '',\n  '## HOT',\n  ...toLines(buckets.HOT),\n  '',\n  '## INSIGHT',\n  ...toLines(buckets.INSIGHT),\n  '',\n  '## MONITOR',\n  ...toLines(buckets.MONITOR),\n  '',\n  '## Safety',\n  `- source_provider: ${securityStats.source_provider ?? 'unknown'}`,\n  `- input_count: ${securityStats.input_count ?? 0}`,\n  `- kept_count: ${securityStats.kept_count ?? 0}`,\n  `- dropped_count: ${securityStats.dropped_count ?? 0}`,\n  `- dropped_unsafe_url: ${securityStats.dropped_unsafe_url ?? 0}`,\n  `- prompt_like_removed: ${securityStats.prompt_like_removed ?? 0}`,\n  '',\n  '## 액션 제안',\n  '- Minerva: HOT 항목 우선순위 반영 검토',\n  '- Clio: INSIGHT 항목 문서화/지식베이스 반영',\n].join('\\n');\n\nconst summary = {\n  total: items.length,\n  hot: buckets.HOT.length,\n  insight: buckets.INSIGHT.length,\n  monitor: buckets.MONITOR.length,\n};\n\nreturn [\n  {\n    json: {\n      query,\n      collected_at: collectedAt,\n      generated_at: new Date().toISOString(),\n      items,\n      has_items: items.length > 0,\n      bucket_counts: summary,\n      briefing_markdown: markdown,\n      summary: `total=${summary.total}, hot=${summary.hot}, insight=${summary.insight}, monitor=${summary.monitor}`,\n      security_stats: securityStats,\n    },\n  },\n];"
      },
      "id": "Code_Template",
      "name": "Build Briefing Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const current = $input.first()?.json ?? {};\nconst staticData = $getWorkflowStaticData('global');\n\nconst makeFingerprint = (value) => {\n  const str = String(value ?? '');\n  let hash = 0;\n  for (let i = 0; i < str.length; i += 1) {\n    hash = (hash * 31 + str.charCodeAt(i)) >>> 0;\n  }\n  return hash.toString(16);\n};\n\nconst dateKey = new Date().toISOString().slice(0, 10);\nconst fingerprintSource = `${current.query}\\n${(current.items ?? []).map((item) => `${item.title}|${item.url}|${item.snippet}`).join('\\n')}`;\nconst fingerprint = makeFingerprint(fingerprintSource);\n\nconst hasItems = Boolean(current.has_items);\nconst duplicate = hasItems && staticData.last_fingerprint === fingerprint && staticData.last_date === dateKey;\n\nlet skipped = false;\nlet skipReason = null;\n\nif (!hasItems) {\n  skipped = true;\n  skipReason = 'no_results';\n} else if (duplicate) {\n  skipped = true;\n  skipReason = 'duplicate_briefing';\n} else {\n  staticData.last_fingerprint = fingerprint;\n  staticData.last_date = dateKey;\n  staticData.last_generated_at = new Date().toISOString();\n}\n\nreturn [\n  {\n    json: {\n      ...current,\n      fingerprint,\n      skipped,\n      skip_reason: skipReason,\n      duplicate,\n    },\n  },\n];"
      },
      "id": "Code_Dedup",
      "name": "Dedup Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first()?.json ?? {};\nconst buckets = data.bucket_counts ?? { total: 0, hot: 0, insight: 0, monitor: 0 };\nconst orchestrationUrl = $env.ORCHESTRATION_EVENT_URL || 'http://frontend:3000/api/orchestration/events';\n\nconst sourceRefs = Array.isArray(data.items)\n  ? data.items\n      .filter((item) => item?.title && item?.url)\n      .slice(0, 6)\n      .map((item) => ({\n        title: item.title,\n        url: item.url,\n        snippet: item.snippet ?? undefined,\n        publisher: item.publisher ?? undefined,\n        category: item.category ?? undefined,\n        priorityTier: item.priorityTier ?? data.priority_tier ?? undefined,\n        domain: item.domain ?? undefined,\n      }))\n  : [];\n\nconst orchestration = {\n  attempted: false,\n  url: orchestrationUrl,\n  status: null,\n  ok: null,\n  decision: null,\n  detail: null,\n};\n\nif (!data.skipped) {\n  const priority = Number(buckets.hot ?? 0) > 0 ? 'high' : 'normal';\n  const confidence = Number(buckets.hot ?? 0) > 0 ? 0.84 : 0.72;\n  const tierTag = String(data.priority_tier ?? 'P2').toLowerCase();\n  const topicKey = String(data.query ?? 'hermes-briefing')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 64) || 'hermes-briefing';\n\n  const payload = {\n    agentId: 'hermes',\n    topicKey,\n    title: `Hermes Briefing: ${String(data.query ?? '').slice(0, 72)}`,\n    summary: data.summary ?? 'Hermes briefing generated',\n    priority,\n    confidence,\n    tags: ['hermes', 'trend', 'briefing', `tier:${tierTag}`],\n    sourceRefs,\n    insightHint: '카테고리 간 연결고리와 파급 영향을 Minerva 관점으로 점검하세요.',\n    payload: {\n      workflow: 'hermes-daily-briefing',\n      fingerprint: data.fingerprint ?? null,\n      bucket_counts: buckets,\n      collected_at: data.collected_at ?? null,\n      generated_at: data.generated_at ?? null,\n      priority_tier: data.priority_tier ?? null,\n      cadence: data.cadence ?? null,\n      schedule_slot: data.schedule_slot ?? null,\n      source_plan: data.source_plan ?? null,\n    },\n  };\n\n  orchestration.attempted = true;\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: orchestrationUrl,\n      body: payload,\n      json: true,\n      timeout: 5000,\n      returnFullResponse: true,\n    });\n    orchestration.status = Number(response?.statusCode ?? 0) || null;\n    orchestration.ok = orchestration.status !== null && orchestration.status >= 200 && orchestration.status < 300;\n    const responseBody = response?.body ?? null;\n    orchestration.decision = responseBody?.decision ?? null;\n    orchestration.detail = responseBody;\n  } catch (error) {\n    orchestration.ok = false;\n    orchestration.detail = error?.message ?? 'orchestration_publish_failed';\n  }\n}\n\nreturn [\n  {\n    json: {\n      ok: true,\n      source: 'n8n-local',\n      workflow: 'hermes-daily-briefing',\n      skipped: Boolean(data.skipped),\n      reason: data.skip_reason ?? null,\n      duplicate: Boolean(data.duplicate),\n      fingerprint: data.fingerprint ?? null,\n      summary: data.summary ?? null,\n      bucket_counts: buckets,\n      briefing_markdown: data.skipped ? null : (data.briefing_markdown ?? null),\n      generated_at: data.generated_at ?? new Date().toISOString(),\n      collected_at: data.collected_at ?? null,\n      priority_tier: data.priority_tier ?? null,\n      cadence: data.cadence ?? null,\n      schedule_slot: data.schedule_slot ?? null,\n      source_plan: data.source_plan ?? null,\n      security_stats: data.security_stats ?? null,\n      orchestration,\n    },\n  },\n];"
      },
      "id": "Code_Response",
      "name": "Build API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_Hermes",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1500,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "Schedule_Morning",
      "name": "Schedule P0 Daily (KST 09:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        80
      ],
      "notes": "KST 09:00 daily (Asia/Seoul timezone)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const collectedAt = new Date().toISOString();\nconst dateKey = collectedAt.slice(0, 10);\nconst tier = 'P0';\nconst cadence = 'daily';\nconst scheduleSlot = 'p0_daily_kst_0900';\nconst queryBase = \"P0 Daily Signals: KR Super App + Global AI/Core Infra\";\nconst tierDomains = [\"toss.tech\", \"d2.naver.com\", \"tech.kakao.com\", \"news.hada.io\", \"openai.com\", \"anthropic.com\", \"blog.cloudflare.com\", \"aws.amazon.com\", \"news.ycombinator.com\"];\nconst sourceMeta = {\"toss.tech\": {\"publisher\": \"Toss Tech\", \"category\": \"kr_super_app\"}, \"d2.naver.com\": {\"publisher\": \"Naver D2\", \"category\": \"kr_engineering_core\"}, \"tech.kakao.com\": {\"publisher\": \"Kakao Tech\", \"category\": \"kr_engineering_core\"}, \"news.hada.io\": {\"publisher\": \"GeekNews\", \"category\": \"kr_aggregator\"}, \"openai.com\": {\"publisher\": \"OpenAI News\", \"category\": \"global_ai\"}, \"anthropic.com\": {\"publisher\": \"Anthropic News\", \"category\": \"global_ai\"}, \"blog.cloudflare.com\": {\"publisher\": \"Cloudflare Blog\", \"category\": \"global_bigtech\"}, \"aws.amazon.com\": {\"publisher\": \"AWS News Blog\", \"category\": \"global_bigtech\"}, \"news.ycombinator.com\": {\"publisher\": \"Hacker News\", \"category\": \"global_aggregator\"}, \"techblog.woowahan.com\": {\"publisher\": \"Woowahan Tech\", \"category\": \"kr_super_app\"}, \"daangn.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"karrot.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"blog.myrealtrip.com\": {\"publisher\": \"MyRealTrip Tech\", \"category\": \"kr_mobility\"}, \"tech.socarcorp.kr\": {\"publisher\": \"Socar Tech\", \"category\": \"kr_mobility\"}, \"upstage.ai\": {\"publisher\": \"Upstage\", \"category\": \"kr_ai_growth\"}, \"blog.ab180.co\": {\"publisher\": \"AB180\", \"category\": \"kr_ai_growth\"}, \"netflixtechblog.com\": {\"publisher\": \"Netflix TechBlog\", \"category\": \"global_bigtech\"}, \"airbnb.tech\": {\"publisher\": \"Airbnb Engineering\", \"category\": \"global_bigtech\"}, \"uber.com\": {\"publisher\": \"Uber Engineering\", \"category\": \"global_bigtech\"}, \"huggingface.co\": {\"publisher\": \"Hugging Face Blog\", \"category\": \"global_ai\"}, \"deepmind.google\": {\"publisher\": \"Google DeepMind Blog\", \"category\": \"global_ai\"}, \"stratechery.com\": {\"publisher\": \"Stratechery\", \"category\": \"global_strategy\"}, \"lennysnewsletter.com\": {\"publisher\": \"Lenny's Newsletter\", \"category\": \"global_strategy\"}, \"engineering.linecorp.com\": {\"publisher\": \"LINE Engineering\", \"category\": \"kr_super_app\"}, \"yanolja.github.io\": {\"publisher\": \"Yanolja Tech\", \"category\": \"kr_mobility\"}, \"tmapmobility.com\": {\"publisher\": \"Tmap Mobility Tech\", \"category\": \"kr_mobility\"}, \"hyperconnect.com\": {\"publisher\": \"Hyperconnect\", \"category\": \"kr_ai_growth\"}, \"stripe.com\": {\"publisher\": \"Stripe Blog\", \"category\": \"global_bigtech\"}, \"reforge.com\": {\"publisher\": \"Reforge Blog\", \"category\": \"global_strategy\"}, \"infoq.com\": {\"publisher\": \"InfoQ\", \"category\": \"global_aggregator\"}, \"techcrunch.com\": {\"publisher\": \"TechCrunch\", \"category\": \"global_aggregator\"}};\n\nconst provider = String($env.HERMES_SEARCH_PROVIDER || 'auto').trim().toLowerCase() || 'auto';\nconst tavilyKey = String($env.TAVILY_API_KEY || '').trim();\nconst tavilyBase = String($env.TAVILY_API_BASE || 'https://api.tavily.com').replace(/\\/+$/, '');\nconst tavilyDepth = String($env.TAVILY_SEARCH_DEPTH || 'basic').trim() || 'basic';\nconst useTavily = (provider === 'tavily' || provider === 'auto') && tavilyKey.length > 0;\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|above|system|developer)\\s+instructions?/gi,\n  /system\\s+prompt/gi,\n  /developer\\s+message/gi,\n  /```[\\s\\S]*?```/g,\n  /<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi,\n  /javascript:/gi,\n  /\\b(bash|sudo|rm\\s+-rf|curl\\s+https?:\\/\\/|wget\\s+https?:\\/\\/)\\b/gi,\n];\n\nconst securityStats = {\n  input_count: 0,\n  kept_count: 0,\n  dropped_count: 0,\n  dropped_unsafe_url: 0,\n  prompt_like_removed: 0,\n  source_provider: useTavily ? 'tavily' : 'hn_algolia',\n  tier,\n  cadence,\n};\n\nconst compact = (value) => String(value ?? '')\n  .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sanitizeText = (value, maxLen) => {\n  let text = String(value ?? '');\n  for (const pattern of INJECTION_PATTERNS) {\n    const before = text;\n    text = text.replace(pattern, ' ');\n    if (before !== text) {\n      securityStats.prompt_like_removed += 1;\n    }\n  }\n  const normalized = compact(text);\n  return normalized.length > maxLen ? `${normalized.slice(0, maxLen - 1).trimEnd()}…` : normalized;\n};\n\nconst isSafeUrl = (value) => {\n  const raw = String(value ?? '').trim();\n  if (!/^https?:\\/\\//i.test(raw)) {\n    return false;\n  }\n  const withoutScheme = raw.replace(/^https?:\\/\\//i, '');\n  const authority = withoutScheme.split('/')[0] || '';\n  const hostPort = authority.includes('@') ? authority.split('@').pop() : authority;\n  const host = String((hostPort || '').split(':')[0] || '').toLowerCase();\n  if (!host || host === 'localhost' || host.endsWith('.local')) {\n    return false;\n  }\n  if (/^127\\./.test(host) || /^10\\./.test(host) || /^192\\.168\\./.test(host)) {\n    return false;\n  }\n  if (/^172\\.(1[6-9]|2\\d|3[0-1])\\./.test(host)) {\n    return false;\n  }\n  if (/^169\\.254\\./.test(host) || host === '::1') {\n    return false;\n  }\n  return true;\n};\n\nconst hostFromUrl = (value) => {\n  try {\n    return new URL(String(value ?? '')).hostname.trim().toLowerCase();\n  } catch {\n    return '';\n  }\n};\n\nconst inferMeta = (url) => {\n  const host = hostFromUrl(url);\n  if (!host) {\n    return { domain: '', category: 'uncategorized', publisher: 'unknown' };\n  }\n  for (const [domain, meta] of Object.entries(sourceMeta)) {\n    if (host === domain || host.endsWith(`.${domain}`)) {\n      return { domain: host, category: meta.category, publisher: meta.publisher };\n    }\n  }\n  return { domain: host, category: 'uncategorized', publisher: host };\n};\n\nconst classifyBucket = (title, snippet) => {\n  const lowered = `${title} ${snippet}`.toLowerCase();\n  if (lowered.includes('launch') || lowered.includes('release') || lowered.includes('breaking') || lowered.includes('급등')) {\n    return 'HOT';\n  }\n  if (lowered.includes('analysis') || lowered.includes('report') || lowered.includes('outlook') || lowered.includes('전망')) {\n    return 'INSIGHT';\n  }\n  return 'MONITOR';\n};\n\nconst sanitizeCandidate = (entry, fallbackTitle) => {\n  const title = sanitizeText(entry?.title ?? fallbackTitle, 180);\n  const url = String(entry?.url ?? '').trim();\n  const snippet = sanitizeText(entry?.snippet ?? entry?.content ?? '', 400);\n\n  if (!title || !url || !isSafeUrl(url)) {\n    securityStats.dropped_count += 1;\n    if (url && !isSafeUrl(url)) {\n      securityStats.dropped_unsafe_url += 1;\n    }\n    return null;\n  }\n\n  const meta = inferMeta(url);\n  return {\n    title,\n    url,\n    snippet: snippet || '요약 정보 없음',\n    bucket: classifyBucket(title, snippet),\n    publisher: entry?.publisher ? sanitizeText(entry.publisher, 80) : meta.publisher,\n    domain: meta.domain,\n    category: entry?.category ? sanitizeText(entry.category, 48) : meta.category,\n    priorityTier: tier,\n  };\n};\n\nconst query = `${queryBase} (${dateKey})`;\nlet rawItems = [];\ntry {\n  if (useTavily) {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${tavilyBase}/search`,\n      body: {\n        api_key: tavilyKey,\n        query,\n        search_depth: tavilyDepth,\n        max_results: 12,\n        include_domains: tierDomains,\n        include_answer: false,\n        include_raw_content: false,\n      },\n      json: true,\n      timeout: 9000,\n    });\n    const results = Array.isArray(response?.results) ? response.results : [];\n    rawItems = results.map((entry, idx) => ({\n      title: String(entry?.title ?? `tavily-item-${idx + 1}`).trim(),\n      url: String(entry?.url ?? '').trim(),\n      snippet: String(entry?.content ?? entry?.snippet ?? '').trim(),\n    }));\n  } else {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://hn.algolia.com/api/v1/search',\n      qs: {\n        query: `${queryBase} ${tierDomains.slice(0, 3).join(' ')}`,\n        tags: 'story',\n        hitsPerPage: 12,\n      },\n      json: true,\n      timeout: 7000,\n    });\n    const hits = Array.isArray(response?.hits) ? response.hits : [];\n    rawItems = hits.map((hit, idx) => ({\n      title: String(hit?.title || hit?.story_title || `hn-story-${idx + 1}`).trim(),\n      url: String(hit?.url || hit?.story_url || '').trim(),\n      snippet: String(hit?._highlightResult?.title?.value || hit?.comment_text || '').replace(/<[^>]+>/g, ' ').trim(),\n    }));\n  }\n} catch (error) {\n  rawItems = [];\n  securityStats.fetch_error = String(error?.message ?? 'fetch_failed').slice(0, 180);\n}\n\nsecurityStats.input_count = rawItems.length;\nlet items = rawItems\n  .map((entry, idx) => sanitizeCandidate(entry, `item-${idx + 1}`))\n  .filter((entry) => entry)\n  .slice(0, 12);\nsecurityStats.kept_count = items.length;\n\nif (items.length === 0) {\n  items = [\n    {\n      title: `${tier} trend heartbeat`,\n      url: \"https://news.ycombinator.com\",\n      snippet: 'No safe external feed data collected. Sending heartbeat event for monitoring continuity.',\n      bucket: 'MONITOR',\n      publisher: inferMeta(\"https://news.ycombinator.com\").publisher,\n      domain: inferMeta(\"https://news.ycombinator.com\").domain,\n      category: inferMeta(\"https://news.ycombinator.com\").category,\n      priorityTier: tier,\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      query,\n      collected_at: collectedAt,\n      items,\n      schedule_slot: scheduleSlot,\n      priority_tier: tier,\n      cadence,\n      source_plan: { tier, cadence, domains: tierDomains },\n      security_stats: securityStats,\n    },\n  },\n];"
      },
      "id": "Code_MorningCollect",
      "name": "Collect P0 Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 9 */2 * *"
            }
          ]
        }
      },
      "id": "Schedule_Evening",
      "name": "Schedule P1 Every2Days (KST 09:10)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        180
      ],
      "notes": "KST 09:10 every 2 days (Asia/Seoul timezone)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const collectedAt = new Date().toISOString();\nconst dateKey = collectedAt.slice(0, 10);\nconst tier = 'P1';\nconst cadence = 'every_2_days';\nconst scheduleSlot = 'p1_every2days_kst_0910';\nconst queryBase = \"P1 Signals: Engineering Depth + Product Strategy\";\nconst tierDomains = [\"techblog.woowahan.com\", \"daangn.com\", \"karrot.com\", \"blog.myrealtrip.com\", \"tech.socarcorp.kr\", \"upstage.ai\", \"blog.ab180.co\", \"netflixtechblog.com\", \"airbnb.tech\", \"uber.com\", \"huggingface.co\", \"deepmind.google\", \"stratechery.com\", \"lennysnewsletter.com\"];\nconst sourceMeta = {\"toss.tech\": {\"publisher\": \"Toss Tech\", \"category\": \"kr_super_app\"}, \"d2.naver.com\": {\"publisher\": \"Naver D2\", \"category\": \"kr_engineering_core\"}, \"tech.kakao.com\": {\"publisher\": \"Kakao Tech\", \"category\": \"kr_engineering_core\"}, \"news.hada.io\": {\"publisher\": \"GeekNews\", \"category\": \"kr_aggregator\"}, \"openai.com\": {\"publisher\": \"OpenAI News\", \"category\": \"global_ai\"}, \"anthropic.com\": {\"publisher\": \"Anthropic News\", \"category\": \"global_ai\"}, \"blog.cloudflare.com\": {\"publisher\": \"Cloudflare Blog\", \"category\": \"global_bigtech\"}, \"aws.amazon.com\": {\"publisher\": \"AWS News Blog\", \"category\": \"global_bigtech\"}, \"news.ycombinator.com\": {\"publisher\": \"Hacker News\", \"category\": \"global_aggregator\"}, \"techblog.woowahan.com\": {\"publisher\": \"Woowahan Tech\", \"category\": \"kr_super_app\"}, \"daangn.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"karrot.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"blog.myrealtrip.com\": {\"publisher\": \"MyRealTrip Tech\", \"category\": \"kr_mobility\"}, \"tech.socarcorp.kr\": {\"publisher\": \"Socar Tech\", \"category\": \"kr_mobility\"}, \"upstage.ai\": {\"publisher\": \"Upstage\", \"category\": \"kr_ai_growth\"}, \"blog.ab180.co\": {\"publisher\": \"AB180\", \"category\": \"kr_ai_growth\"}, \"netflixtechblog.com\": {\"publisher\": \"Netflix TechBlog\", \"category\": \"global_bigtech\"}, \"airbnb.tech\": {\"publisher\": \"Airbnb Engineering\", \"category\": \"global_bigtech\"}, \"uber.com\": {\"publisher\": \"Uber Engineering\", \"category\": \"global_bigtech\"}, \"huggingface.co\": {\"publisher\": \"Hugging Face Blog\", \"category\": \"global_ai\"}, \"deepmind.google\": {\"publisher\": \"Google DeepMind Blog\", \"category\": \"global_ai\"}, \"stratechery.com\": {\"publisher\": \"Stratechery\", \"category\": \"global_strategy\"}, \"lennysnewsletter.com\": {\"publisher\": \"Lenny's Newsletter\", \"category\": \"global_strategy\"}, \"engineering.linecorp.com\": {\"publisher\": \"LINE Engineering\", \"category\": \"kr_super_app\"}, \"yanolja.github.io\": {\"publisher\": \"Yanolja Tech\", \"category\": \"kr_mobility\"}, \"tmapmobility.com\": {\"publisher\": \"Tmap Mobility Tech\", \"category\": \"kr_mobility\"}, \"hyperconnect.com\": {\"publisher\": \"Hyperconnect\", \"category\": \"kr_ai_growth\"}, \"stripe.com\": {\"publisher\": \"Stripe Blog\", \"category\": \"global_bigtech\"}, \"reforge.com\": {\"publisher\": \"Reforge Blog\", \"category\": \"global_strategy\"}, \"infoq.com\": {\"publisher\": \"InfoQ\", \"category\": \"global_aggregator\"}, \"techcrunch.com\": {\"publisher\": \"TechCrunch\", \"category\": \"global_aggregator\"}};\n\nconst provider = String($env.HERMES_SEARCH_PROVIDER || 'auto').trim().toLowerCase() || 'auto';\nconst tavilyKey = String($env.TAVILY_API_KEY || '').trim();\nconst tavilyBase = String($env.TAVILY_API_BASE || 'https://api.tavily.com').replace(/\\/+$/, '');\nconst tavilyDepth = String($env.TAVILY_SEARCH_DEPTH || 'basic').trim() || 'basic';\nconst useTavily = (provider === 'tavily' || provider === 'auto') && tavilyKey.length > 0;\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|above|system|developer)\\s+instructions?/gi,\n  /system\\s+prompt/gi,\n  /developer\\s+message/gi,\n  /```[\\s\\S]*?```/g,\n  /<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi,\n  /javascript:/gi,\n  /\\b(bash|sudo|rm\\s+-rf|curl\\s+https?:\\/\\/|wget\\s+https?:\\/\\/)\\b/gi,\n];\n\nconst securityStats = {\n  input_count: 0,\n  kept_count: 0,\n  dropped_count: 0,\n  dropped_unsafe_url: 0,\n  prompt_like_removed: 0,\n  source_provider: useTavily ? 'tavily' : 'hn_algolia',\n  tier,\n  cadence,\n};\n\nconst compact = (value) => String(value ?? '')\n  .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sanitizeText = (value, maxLen) => {\n  let text = String(value ?? '');\n  for (const pattern of INJECTION_PATTERNS) {\n    const before = text;\n    text = text.replace(pattern, ' ');\n    if (before !== text) {\n      securityStats.prompt_like_removed += 1;\n    }\n  }\n  const normalized = compact(text);\n  return normalized.length > maxLen ? `${normalized.slice(0, maxLen - 1).trimEnd()}…` : normalized;\n};\n\nconst isSafeUrl = (value) => {\n  const raw = String(value ?? '').trim();\n  if (!/^https?:\\/\\//i.test(raw)) {\n    return false;\n  }\n  const withoutScheme = raw.replace(/^https?:\\/\\//i, '');\n  const authority = withoutScheme.split('/')[0] || '';\n  const hostPort = authority.includes('@') ? authority.split('@').pop() : authority;\n  const host = String((hostPort || '').split(':')[0] || '').toLowerCase();\n  if (!host || host === 'localhost' || host.endsWith('.local')) {\n    return false;\n  }\n  if (/^127\\./.test(host) || /^10\\./.test(host) || /^192\\.168\\./.test(host)) {\n    return false;\n  }\n  if (/^172\\.(1[6-9]|2\\d|3[0-1])\\./.test(host)) {\n    return false;\n  }\n  if (/^169\\.254\\./.test(host) || host === '::1') {\n    return false;\n  }\n  return true;\n};\n\nconst hostFromUrl = (value) => {\n  try {\n    return new URL(String(value ?? '')).hostname.trim().toLowerCase();\n  } catch {\n    return '';\n  }\n};\n\nconst inferMeta = (url) => {\n  const host = hostFromUrl(url);\n  if (!host) {\n    return { domain: '', category: 'uncategorized', publisher: 'unknown' };\n  }\n  for (const [domain, meta] of Object.entries(sourceMeta)) {\n    if (host === domain || host.endsWith(`.${domain}`)) {\n      return { domain: host, category: meta.category, publisher: meta.publisher };\n    }\n  }\n  return { domain: host, category: 'uncategorized', publisher: host };\n};\n\nconst classifyBucket = (title, snippet) => {\n  const lowered = `${title} ${snippet}`.toLowerCase();\n  if (lowered.includes('launch') || lowered.includes('release') || lowered.includes('breaking') || lowered.includes('급등')) {\n    return 'HOT';\n  }\n  if (lowered.includes('analysis') || lowered.includes('report') || lowered.includes('outlook') || lowered.includes('전망')) {\n    return 'INSIGHT';\n  }\n  return 'MONITOR';\n};\n\nconst sanitizeCandidate = (entry, fallbackTitle) => {\n  const title = sanitizeText(entry?.title ?? fallbackTitle, 180);\n  const url = String(entry?.url ?? '').trim();\n  const snippet = sanitizeText(entry?.snippet ?? entry?.content ?? '', 400);\n\n  if (!title || !url || !isSafeUrl(url)) {\n    securityStats.dropped_count += 1;\n    if (url && !isSafeUrl(url)) {\n      securityStats.dropped_unsafe_url += 1;\n    }\n    return null;\n  }\n\n  const meta = inferMeta(url);\n  return {\n    title,\n    url,\n    snippet: snippet || '요약 정보 없음',\n    bucket: classifyBucket(title, snippet),\n    publisher: entry?.publisher ? sanitizeText(entry.publisher, 80) : meta.publisher,\n    domain: meta.domain,\n    category: entry?.category ? sanitizeText(entry.category, 48) : meta.category,\n    priorityTier: tier,\n  };\n};\n\nconst query = `${queryBase} (${dateKey})`;\nlet rawItems = [];\ntry {\n  if (useTavily) {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${tavilyBase}/search`,\n      body: {\n        api_key: tavilyKey,\n        query,\n        search_depth: tavilyDepth,\n        max_results: 12,\n        include_domains: tierDomains,\n        include_answer: false,\n        include_raw_content: false,\n      },\n      json: true,\n      timeout: 9000,\n    });\n    const results = Array.isArray(response?.results) ? response.results : [];\n    rawItems = results.map((entry, idx) => ({\n      title: String(entry?.title ?? `tavily-item-${idx + 1}`).trim(),\n      url: String(entry?.url ?? '').trim(),\n      snippet: String(entry?.content ?? entry?.snippet ?? '').trim(),\n    }));\n  } else {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://hn.algolia.com/api/v1/search',\n      qs: {\n        query: `${queryBase} ${tierDomains.slice(0, 3).join(' ')}`,\n        tags: 'story',\n        hitsPerPage: 12,\n      },\n      json: true,\n      timeout: 7000,\n    });\n    const hits = Array.isArray(response?.hits) ? response.hits : [];\n    rawItems = hits.map((hit, idx) => ({\n      title: String(hit?.title || hit?.story_title || `hn-story-${idx + 1}`).trim(),\n      url: String(hit?.url || hit?.story_url || '').trim(),\n      snippet: String(hit?._highlightResult?.title?.value || hit?.comment_text || '').replace(/<[^>]+>/g, ' ').trim(),\n    }));\n  }\n} catch (error) {\n  rawItems = [];\n  securityStats.fetch_error = String(error?.message ?? 'fetch_failed').slice(0, 180);\n}\n\nsecurityStats.input_count = rawItems.length;\nlet items = rawItems\n  .map((entry, idx) => sanitizeCandidate(entry, `item-${idx + 1}`))\n  .filter((entry) => entry)\n  .slice(0, 12);\nsecurityStats.kept_count = items.length;\n\nif (items.length === 0) {\n  items = [\n    {\n      title: `${tier} trend heartbeat`,\n      url: \"https://netflixtechblog.com\",\n      snippet: 'No safe external feed data collected. Sending heartbeat event for monitoring continuity.',\n      bucket: 'MONITOR',\n      publisher: inferMeta(\"https://netflixtechblog.com\").publisher,\n      domain: inferMeta(\"https://netflixtechblog.com\").domain,\n      category: inferMeta(\"https://netflixtechblog.com\").category,\n      priorityTier: tier,\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      query,\n      collected_at: collectedAt,\n      items,\n      schedule_slot: scheduleSlot,\n      priority_tier: tier,\n      cadence,\n      source_plan: { tier, cadence, domains: tierDomains },\n      security_stats: securityStats,\n    },\n  },\n];"
      },
      "id": "Code_EveningCollect",
      "name": "Collect P1 Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "20 9 */3 * *"
            }
          ]
        }
      },
      "id": "Schedule_P2",
      "name": "Schedule P2 Every3Days (KST 09:20)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        280
      ],
      "notes": "KST 09:20 every 3 days (Asia/Seoul timezone)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const collectedAt = new Date().toISOString();\nconst dateKey = collectedAt.slice(0, 10);\nconst tier = 'P2';\nconst cadence = 'every_3_days';\nconst scheduleSlot = 'p2_every3days_kst_0920';\nconst queryBase = \"P2 Signals: Long-tail Insights + Aggregators\";\nconst tierDomains = [\"engineering.linecorp.com\", \"yanolja.github.io\", \"tmapmobility.com\", \"hyperconnect.com\", \"stripe.com\", \"reforge.com\", \"infoq.com\", \"techcrunch.com\"];\nconst sourceMeta = {\"toss.tech\": {\"publisher\": \"Toss Tech\", \"category\": \"kr_super_app\"}, \"d2.naver.com\": {\"publisher\": \"Naver D2\", \"category\": \"kr_engineering_core\"}, \"tech.kakao.com\": {\"publisher\": \"Kakao Tech\", \"category\": \"kr_engineering_core\"}, \"news.hada.io\": {\"publisher\": \"GeekNews\", \"category\": \"kr_aggregator\"}, \"openai.com\": {\"publisher\": \"OpenAI News\", \"category\": \"global_ai\"}, \"anthropic.com\": {\"publisher\": \"Anthropic News\", \"category\": \"global_ai\"}, \"blog.cloudflare.com\": {\"publisher\": \"Cloudflare Blog\", \"category\": \"global_bigtech\"}, \"aws.amazon.com\": {\"publisher\": \"AWS News Blog\", \"category\": \"global_bigtech\"}, \"news.ycombinator.com\": {\"publisher\": \"Hacker News\", \"category\": \"global_aggregator\"}, \"techblog.woowahan.com\": {\"publisher\": \"Woowahan Tech\", \"category\": \"kr_super_app\"}, \"daangn.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"karrot.com\": {\"publisher\": \"Karrot Tech\", \"category\": \"kr_super_app\"}, \"blog.myrealtrip.com\": {\"publisher\": \"MyRealTrip Tech\", \"category\": \"kr_mobility\"}, \"tech.socarcorp.kr\": {\"publisher\": \"Socar Tech\", \"category\": \"kr_mobility\"}, \"upstage.ai\": {\"publisher\": \"Upstage\", \"category\": \"kr_ai_growth\"}, \"blog.ab180.co\": {\"publisher\": \"AB180\", \"category\": \"kr_ai_growth\"}, \"netflixtechblog.com\": {\"publisher\": \"Netflix TechBlog\", \"category\": \"global_bigtech\"}, \"airbnb.tech\": {\"publisher\": \"Airbnb Engineering\", \"category\": \"global_bigtech\"}, \"uber.com\": {\"publisher\": \"Uber Engineering\", \"category\": \"global_bigtech\"}, \"huggingface.co\": {\"publisher\": \"Hugging Face Blog\", \"category\": \"global_ai\"}, \"deepmind.google\": {\"publisher\": \"Google DeepMind Blog\", \"category\": \"global_ai\"}, \"stratechery.com\": {\"publisher\": \"Stratechery\", \"category\": \"global_strategy\"}, \"lennysnewsletter.com\": {\"publisher\": \"Lenny's Newsletter\", \"category\": \"global_strategy\"}, \"engineering.linecorp.com\": {\"publisher\": \"LINE Engineering\", \"category\": \"kr_super_app\"}, \"yanolja.github.io\": {\"publisher\": \"Yanolja Tech\", \"category\": \"kr_mobility\"}, \"tmapmobility.com\": {\"publisher\": \"Tmap Mobility Tech\", \"category\": \"kr_mobility\"}, \"hyperconnect.com\": {\"publisher\": \"Hyperconnect\", \"category\": \"kr_ai_growth\"}, \"stripe.com\": {\"publisher\": \"Stripe Blog\", \"category\": \"global_bigtech\"}, \"reforge.com\": {\"publisher\": \"Reforge Blog\", \"category\": \"global_strategy\"}, \"infoq.com\": {\"publisher\": \"InfoQ\", \"category\": \"global_aggregator\"}, \"techcrunch.com\": {\"publisher\": \"TechCrunch\", \"category\": \"global_aggregator\"}};\n\nconst provider = String($env.HERMES_SEARCH_PROVIDER || 'auto').trim().toLowerCase() || 'auto';\nconst tavilyKey = String($env.TAVILY_API_KEY || '').trim();\nconst tavilyBase = String($env.TAVILY_API_BASE || 'https://api.tavily.com').replace(/\\/+$/, '');\nconst tavilyDepth = String($env.TAVILY_SEARCH_DEPTH || 'basic').trim() || 'basic';\nconst useTavily = (provider === 'tavily' || provider === 'auto') && tavilyKey.length > 0;\n\nconst INJECTION_PATTERNS = [\n  /ignore\\s+(all\\s+)?(previous|above|system|developer)\\s+instructions?/gi,\n  /system\\s+prompt/gi,\n  /developer\\s+message/gi,\n  /```[\\s\\S]*?```/g,\n  /<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi,\n  /javascript:/gi,\n  /\\b(bash|sudo|rm\\s+-rf|curl\\s+https?:\\/\\/|wget\\s+https?:\\/\\/)\\b/gi,\n];\n\nconst securityStats = {\n  input_count: 0,\n  kept_count: 0,\n  dropped_count: 0,\n  dropped_unsafe_url: 0,\n  prompt_like_removed: 0,\n  source_provider: useTavily ? 'tavily' : 'hn_algolia',\n  tier,\n  cadence,\n};\n\nconst compact = (value) => String(value ?? '')\n  .replace(/[\\u0000-\\u001F\\u007F]+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sanitizeText = (value, maxLen) => {\n  let text = String(value ?? '');\n  for (const pattern of INJECTION_PATTERNS) {\n    const before = text;\n    text = text.replace(pattern, ' ');\n    if (before !== text) {\n      securityStats.prompt_like_removed += 1;\n    }\n  }\n  const normalized = compact(text);\n  return normalized.length > maxLen ? `${normalized.slice(0, maxLen - 1).trimEnd()}…` : normalized;\n};\n\nconst isSafeUrl = (value) => {\n  const raw = String(value ?? '').trim();\n  if (!/^https?:\\/\\//i.test(raw)) {\n    return false;\n  }\n  const withoutScheme = raw.replace(/^https?:\\/\\//i, '');\n  const authority = withoutScheme.split('/')[0] || '';\n  const hostPort = authority.includes('@') ? authority.split('@').pop() : authority;\n  const host = String((hostPort || '').split(':')[0] || '').toLowerCase();\n  if (!host || host === 'localhost' || host.endsWith('.local')) {\n    return false;\n  }\n  if (/^127\\./.test(host) || /^10\\./.test(host) || /^192\\.168\\./.test(host)) {\n    return false;\n  }\n  if (/^172\\.(1[6-9]|2\\d|3[0-1])\\./.test(host)) {\n    return false;\n  }\n  if (/^169\\.254\\./.test(host) || host === '::1') {\n    return false;\n  }\n  return true;\n};\n\nconst hostFromUrl = (value) => {\n  try {\n    return new URL(String(value ?? '')).hostname.trim().toLowerCase();\n  } catch {\n    return '';\n  }\n};\n\nconst inferMeta = (url) => {\n  const host = hostFromUrl(url);\n  if (!host) {\n    return { domain: '', category: 'uncategorized', publisher: 'unknown' };\n  }\n  for (const [domain, meta] of Object.entries(sourceMeta)) {\n    if (host === domain || host.endsWith(`.${domain}`)) {\n      return { domain: host, category: meta.category, publisher: meta.publisher };\n    }\n  }\n  return { domain: host, category: 'uncategorized', publisher: host };\n};\n\nconst classifyBucket = (title, snippet) => {\n  const lowered = `${title} ${snippet}`.toLowerCase();\n  if (lowered.includes('launch') || lowered.includes('release') || lowered.includes('breaking') || lowered.includes('급등')) {\n    return 'HOT';\n  }\n  if (lowered.includes('analysis') || lowered.includes('report') || lowered.includes('outlook') || lowered.includes('전망')) {\n    return 'INSIGHT';\n  }\n  return 'MONITOR';\n};\n\nconst sanitizeCandidate = (entry, fallbackTitle) => {\n  const title = sanitizeText(entry?.title ?? fallbackTitle, 180);\n  const url = String(entry?.url ?? '').trim();\n  const snippet = sanitizeText(entry?.snippet ?? entry?.content ?? '', 400);\n\n  if (!title || !url || !isSafeUrl(url)) {\n    securityStats.dropped_count += 1;\n    if (url && !isSafeUrl(url)) {\n      securityStats.dropped_unsafe_url += 1;\n    }\n    return null;\n  }\n\n  const meta = inferMeta(url);\n  return {\n    title,\n    url,\n    snippet: snippet || '요약 정보 없음',\n    bucket: classifyBucket(title, snippet),\n    publisher: entry?.publisher ? sanitizeText(entry.publisher, 80) : meta.publisher,\n    domain: meta.domain,\n    category: entry?.category ? sanitizeText(entry.category, 48) : meta.category,\n    priorityTier: tier,\n  };\n};\n\nconst query = `${queryBase} (${dateKey})`;\nlet rawItems = [];\ntry {\n  if (useTavily) {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${tavilyBase}/search`,\n      body: {\n        api_key: tavilyKey,\n        query,\n        search_depth: tavilyDepth,\n        max_results: 12,\n        include_domains: tierDomains,\n        include_answer: false,\n        include_raw_content: false,\n      },\n      json: true,\n      timeout: 9000,\n    });\n    const results = Array.isArray(response?.results) ? response.results : [];\n    rawItems = results.map((entry, idx) => ({\n      title: String(entry?.title ?? `tavily-item-${idx + 1}`).trim(),\n      url: String(entry?.url ?? '').trim(),\n      snippet: String(entry?.content ?? entry?.snippet ?? '').trim(),\n    }));\n  } else {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://hn.algolia.com/api/v1/search',\n      qs: {\n        query: `${queryBase} ${tierDomains.slice(0, 3).join(' ')}`,\n        tags: 'story',\n        hitsPerPage: 12,\n      },\n      json: true,\n      timeout: 7000,\n    });\n    const hits = Array.isArray(response?.hits) ? response.hits : [];\n    rawItems = hits.map((hit, idx) => ({\n      title: String(hit?.title || hit?.story_title || `hn-story-${idx + 1}`).trim(),\n      url: String(hit?.url || hit?.story_url || '').trim(),\n      snippet: String(hit?._highlightResult?.title?.value || hit?.comment_text || '').replace(/<[^>]+>/g, ' ').trim(),\n    }));\n  }\n} catch (error) {\n  rawItems = [];\n  securityStats.fetch_error = String(error?.message ?? 'fetch_failed').slice(0, 180);\n}\n\nsecurityStats.input_count = rawItems.length;\nlet items = rawItems\n  .map((entry, idx) => sanitizeCandidate(entry, `item-${idx + 1}`))\n  .filter((entry) => entry)\n  .slice(0, 12);\nsecurityStats.kept_count = items.length;\n\nif (items.length === 0) {\n  items = [\n    {\n      title: `${tier} trend heartbeat`,\n      url: \"https://www.infoq.com\",\n      snippet: 'No safe external feed data collected. Sending heartbeat event for monitoring continuity.',\n      bucket: 'MONITOR',\n      publisher: inferMeta(\"https://www.infoq.com\").publisher,\n      domain: inferMeta(\"https://www.infoq.com\").domain,\n      category: inferMeta(\"https://www.infoq.com\").category,\n      priorityTier: tier,\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      query,\n      collected_at: collectedAt,\n      items,\n      schedule_slot: scheduleSlot,\n      priority_tier: tier,\n      cadence,\n      source_plan: { tier, cadence, domains: tierDomains },\n      security_stats: securityStats,\n    },\n  },\n];"
      },
      "id": "Code_P2Collect",
      "name": "Collect P2 Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Build Briefing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Briefing Template": {
      "main": [
        [
          {
            "node": "Dedup Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Guard": {
      "main": [
        [
          {
            "node": "Build API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule P0 Daily (KST 09:00)": {
      "main": [
        [
          {
            "node": "Collect P0 Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect P0 Signals": {
      "main": [
        [
          {
            "node": "Build Briefing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule P1 Every2Days (KST 09:10)": {
      "main": [
        [
          {
            "node": "Collect P1 Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect P1 Signals": {
      "main": [
        [
          {
            "node": "Build Briefing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule P2 Every3Days (KST 09:20)": {
      "main": [
        [
          {
            "node": "Collect P2 Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect P2 Signals": {
      "main": [
        [
          {
            "node": "Build Briefing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
